.barra-superior
  -if (!usuario)
    %form{:action=>"/",:method=>"post"}
      Introduzca un nombre
      %input{:type=>"text",:name=>"usuario[username]"}
      %input{:type=>"hidden",:name=>"usuario[ganadas]",:value=>"0"}
      %input{:type=>"hidden",:name=>"usuario[perdidas]",:value=>"0"}
      %input{:type=>"hidden",:name=>"usuario[empatadas]",:value=>"0"}
      %input{:type=>"hidden",:name=>"usuario[jugadas]",:value=>"0"}
      %input{:type=>"submit",:value=>"Entrar"}
  -else
    %form{:action=>"/",:method=>"post"}
      Usted se ha identificado como #{usuario}
      %input{:type=>"hidden",:value=>"1",:name=>"logout"}
      %input{:type=>"submit",:value=>"Cerrar sesión"}
      
.marcador
  %a{:href=>"/usuarios"}
    %img{:src=>"/images/verRanking.gif"}
    
.gameboard
  - HORIZONTALS.each do |row| 
    .gamerow
      - row.each do |p|
        %a{:href=>"/"}
          %div{:id => "#{p}", :class => "cell #{b[p]}"}
  .message
    %h1= m
